<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>Poshfit Challange Dashboard</title>
  </head>
  <body class="container">
    <header>
      <% include ../views/partials/header %>
    </header>

    <% if(dashboardMessage) { %>
      <div class="alert alert-info">
        <%= dashboardMessage %>
      </div>
    <% } %>

    <h2>Dashboard</h2>

    <% if(userTeamData.length > 0) { %>
      <h3>Your Team Total</h3>
      <table class="table table-condensed table-hover table-bordered table-responsive" id="userTeamStats">
        <tr>
          <th>Team Member</th>
          <th>Total Points</th>
        </tr>
        <% userTeamData.forEach(function(data){ %>
          <tr>
            <td><%= data.email %></td>
            <td><%= data.total_points %></td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      <h4>Your team needs to get started accumulating points!</h4>
    <% } %>

    <h3>All Teams Total</h3>

    <% if(teamData.length > 0) { %>
      <table class="table table-condensed table-hover table-bordered table-responsive" id="allTeamStats">
        <tr>
          <th>Team Name</th>
          <th>Total Points</th>
        </tr>
        <% teamData.forEach(function(data){ %>
          <tr>
            <td><%= data.team_name %></td>
            <td><%= data.total_points %></td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      <h4>Teams haven't started entering points yet :/ </h4>
    <% } %>

    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 654px; height: 929px;'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Poshfit2016&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='654' height='929' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='Poshfit2016&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Poshfit2016&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' /></object></div>

    <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>
